
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
     
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color:  #EEF2F7;
    scroll-behavior: smooth;
}


.container {
    align-content: center;
    justify-content: center;
    margin: auto;
    
    width: 70rem;
    height: 100vh;

    display: grid;

    grid-row-gap: 2rem;
    grid-column-gap:2.2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "card-1 card-1 card-2 card-3"
        "card-4 card-5 card-5 card-3";
}


.card-1 {
    grid-area: card-1;

    height: auto;
        
    background: #6C41C2;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    /* max-width: 564px;
    max-height: 290px; */

    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 75%;
    background-size: 6.5em;
    background-color: #ddd 50%;
}
 
.card-2 {
    grid-area: card-2;
    
    height: auto;

    background: #4B5469;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    /* max-width: 270px;
    max-height: 290px; */
}

.card-3 {
    grid-area: card-3;

    height: auto;
 
    background: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* max-width: 270px;
    max-height: 574px; */
 
}

.card-4 {
    grid-area: card-4;

    height: auto;
    
    background: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* max-width: 270px;
    max-height: 260px; */
}

.card-5 {
    grid-area: card-5;

    height: auto;
    
    background: #19202C;
    color: white;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* max-width: 564px;
    max-height: 260px; */
}
 

img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    
}

.inner-container {
    justify-content: stretch;
    align-content: stretch;
    
    grid-area: card-1;

    display: grid;

    grid-template-columns: 0.25fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr;
    grid-template-areas:'a1 a2 a2'
                        'a4 a4 a4'
                        'a5 a5 a5';
}

.daniel-img {
    grid-area: a1;
   
    align-self: auto;

    margin-top: 1.5rem;
    margin-left: 2rem;

    width: 2em;
    height: 2em;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2.5px #D77BFF;
    

}

.name {
    grid-area: a2;

    margin-top: 1.5rem;
    margin-left: 1.5em;
    
    align-self: flex-start;
    justify-self: left;

    font-size: 0.8125em;
    font-weight: 600;
 
    color: #EEF2F7;
}

.validation {
    grid-area: a2;

    margin-top: 1.5rem;
    margin-left: 1.5em;
    padding-top: 1.2em;
    
    align-self: flex-start;
    justify-self: left;

    font-size: 0.8125em;
    font-weight: 400;
      

    color: rgba(238, 242, 247, 0.5);   
}

.title {
    grid-area: a4;
  
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;

    font-weight: 600;
    font-size: 1.25em;
    line-height: 130%;
    color: #EEF2F7;
}

.testimonial {
    grid-area: a5;
    
    align-self: center;

    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;

    font-weight: 600;
    font-size: 0.8125em;
    line-height: 130%;
    color: rgba(238, 242, 247, 0.5);
    opacity: 0.8;
}



.inner-container-2 {
    justify-content: stretch;
    align-content: stretch;
    
    grid-area: card-2;

    display: grid;

    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr;
    grid-template-areas:'a1 a2'
                        'a4 a4'
                        'a5 a5';
}

.jonathan-img {
    grid-area: a1;
   
    align-self: auto;
    

    margin-top: 1.5rem;
    margin-left: 2rem;

    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.name-2 {
    grid-area: a2;

    margin-top: 1.5rem;
    margin-left: 1.5em;
    
    align-self: flex-start;
    justify-self: left;

    font-size: 0.8125em;
    font-weight: 600;
 
    color: #EEF2F7;
}

 .validation-2 {
    grid-area: a2;

    margin-top: 1.5rem;
    margin-left: 1.5em;
    padding-top: 1.2em;
    
    align-self: flex-start;
    justify-self: left;

    font-size: 0.8125em;
    font-weight: 400;
      

    color: rgba(238, 242, 247, 0.5);   
} 

 .title-2 {
    grid-area: a4;
  
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;


    font-weight: 600;
    font-size: 1.25em;
    line-height: 130%;
    color: #EEF2F7;
} 

 .testimonial-2 {
    grid-area: a5;
    
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;


    align-self: center;

    font-weight: 600;
    font-size: 0.8125em;
    line-height: 130%;
    color: rgba(238, 242, 247, 0.5);
    opacity: 0.8;
} 







.inner-container-3 {
    justify-content: stretch;
    align-content: stretch;
    
    grid-area: card-3;

    display: grid;

    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 0.25fr 1fr 3fr;
    grid-template-areas:'a1 a2'
                        'a4 a4'
                        'a5 a5';
                        
                        
}

.kira-img {
    grid-area: a1;
   
    align-self: auto;

    margin-top: 1.5rem;
    margin-left: 2rem;

    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.name-3 {
    grid-area: a2;

    margin-top: 1.5rem;
    margin-left: 1.5em;
    
    align-self: flex-start;
    justify-self: left;

    font-size: 0.8125em;
    font-weight: 600;
 
    color: #4B5469;
}

 .validation-3 {
    grid-area: a2;

    margin-top: 1.5rem;
    margin-left: 1.5em;
    padding-top: 1.2em;
    
    align-self: flex-start;
    justify-self: left;

    font-size: 0.8125em;
    font-weight: 400;
      
    color: #4b546983;   
} 

 .title-3 {
    grid-area: a4;
  
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;

    font-weight: 600;
    font-size: 1.25em;
    line-height: 130%;
    color: #4B5469;
} 

 .testimonial-3 {
    grid-area: a5;
    
    align-self: center;

    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;

    font-weight: 600;
    font-size: 0.8125em;
    line-height: 130%;
    color: #4B5469;
    opacity: 0.5;
} 




.inner-container-4 {
    justify-content: stretch;
    align-content: stretch;
    
    grid-area: card-4;

    display: grid;

    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr;
    grid-template-areas:'a1 a2'
                        'a4 a4'
                        'a5 a5';
}

.jean-img {
    grid-area: a1;
   
    align-self: auto;
    
    margin-top: 1.5rem;
    margin-left: 2rem;

    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.name-4 {
    grid-area: a2;

    margin-top: 1.5rem;
    margin-left: 1.5em;
    
    align-self: flex-start;
    justify-self: left;

    font-size: 0.8125em;
    font-weight: 600;
 
    color: #4B5469;
}

 .validation-4 {
    grid-area: a2;

    margin-top: 1.5rem;
    margin-left: 1.5em;
    padding-top: 1.2em;
    
    align-self: flex-start;
    justify-self: left;

    font-size: 0.8125em;
    font-weight: 400;
      

    color: #4b546983;   
} 

 .title-4 {
    grid-area: a4;
  
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;

    font-weight: 600;
    font-size: 1.25em;
    line-height: 130%;
    color: #4B5469;
} 

 .testimonial-4 {
    grid-area: a5;
    
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;

    align-self: center;

    font-weight: 600;
    font-size: 0.8125em;
    line-height: 130%;
    color: #4B5469;
    opacity: 0.5;
} 







.inner-container-5 {
    justify-content: stretch;
    align-content: stretch;
    
    grid-area: card-1;

    display: grid;

    grid-template-columns: 0.25fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr;
    grid-template-areas:'a1 a2 a2'
                        'a4 a4 a4'
                        'a5 a5 a5';
}

.patrick-img {
    grid-area: a1;
   
    align-self: auto;
    
    margin-top: 1.5rem;
    margin-left: 2rem;

    width: 2em;
    height: 2em;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2.5px #d77bffbe;
    

}

.name-5 {
    grid-area: a2;

    margin-top: 1.5rem;
    margin-left: 1.5em;
    
    align-self: flex-start;
    justify-self: left;

    font-size: 0.8125em;
    font-weight: 600;
 
    color: #EEF2F7;
}

.validation-5 {
    grid-area: a2;

    margin-top: 1.5rem;
    margin-left: 1.5em;
    padding-top: 1.2em;
    
    align-self: flex-start;
    justify-self: left;

    font-size: 0.8125em;
    font-weight: 400;
      

    color: rgba(238, 242, 247, 0.5);   
}

.title-5 {
    grid-area: a4;
  
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;


    font-weight: 600;
    font-size: 1.25em;
    line-height: 130%;
    color: #EEF2F7;
}

.testimonial-5 {
    grid-area: a5;
    
    align-self: center;

    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem; 

    font-weight: 600;
    font-size: 0.8125em;
    line-height: 130%;
    color: rgba(238, 242, 247, 0.5);
    opacity: 0.8;
}

.attribution { 
    position: relative;
    margin: 0 auto;
  
    text-align: center; 
  
}





@media screen and (max-width:1040px) {
    .container {
        align-content: space-between;
        justify-content: center;
        margin: 0 auto;
        
        width: 100vw;
        height: 100%;

        padding: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        
        display: grid;

        grid-gap: 2rem;     
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "card-1  card-1"
            "card-2  card-3"
            "card-4  card-3"
            "card-5  card-5"
    ;
    
    }
     
}


@media screen and (max-width:750px) {
    .container {
        align-content: space-between;
        justify-content: center;
        margin: 0 auto;
        
        width: 100vw;
        height: 100%;
       
        padding: 5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        
        display: grid;

        grid-gap: 1.5rem;    
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "card-1  card-1"
            "card-2  card-2"
            "card-3  card-3"
            "card-4  card-4"
            "card-5  card-5"
    ;
    }
    
     
}


@media screen and (max-width:720px) {
    .container {
        align-content: space-between;
        justify-content: center;
        margin:  0 auto;
        
        width: 100vw; 
        height: 100%;     
       
        padding: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        
        display: grid;

        grid-row-gap: 2rem;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "card-1  card-1"
            "card-2  card-2"
            "card-4  card-4"
            "card-5  card-5"
            "card-3  card-3"
    ;
    }

    .card-1 {
        height: fit-content;
    }

    .card-2 {
        height: fit-content;
    }

    .card-3 {
        height: fit-content;
    }
    .card-4 {
        height: fit-content;
    }

    .card-5 {
        height: fit-content;
    }



    .inner-container-5 {
        justify-content: stretch;
        align-content: stretch;
        
        grid-area: card-1;
    
        display: grid;
    
        grid-template-columns: 0.25fr 1fr;
        grid-template-rows: 0.25fr 1.2fr 1fr;
        grid-template-areas:'a1 a2'
                            'a4 a4'
                            'a5 a5';
    }
    
}